node_modules/
web/
*.log
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/.cxx/
ios/App/Pods/
ios/App/DerivedData/
ios/DerivedData/
*.xcuserstate
*.xcuserdatad/
*.mobileprovision
*.p12
*.keystore
*.jks
